<div>
    <po-loading-overlay [hidden]="!(isLoading)" [p-text]="loadingText" ></po-loading-overlay>
</div>
<po-page-dynamic-table
p-title="GISS - Fechamentos"
[p-actions]="actions"
[p-table-custom-actions]="tableCustomActions"
[p-breadcrumb]="breadcrumb"
[p-fields]="fields"
[p-service-api]="serviceApi">

</po-page-dynamic-table>

<po-modal p-icon="po-icon-archive" p-size ="xl" #filesDetailModal p-title="Arquivos Disponíveis">
    <po-divider
    p-label="Download de arquivos - SmartSync Storage" >
    </po-divider>
    <span class="po-font-subtitle">{{listFiles.length}} Arquivos processados. - {{(tipoPrefeitura)}} </span><br/>
    <span class="po-font-subtitle">Status de Processamento (100).</span><br/>

    <po-table [p-items]="listFiles" 
              [p-columns]="fieldsFiles" 
              [p-actions]="tableFilesCustomActions"
              [p-actions-right]="true"
              [p-filtered-columns]="['fileName', 'competence']"
              [p-selectable]="true"
              [p-filter-type]="typeFilter"
              [p-striped]="true"
              [p-sort]="true"
              
              > </po-table>
</po-modal>

<po-modal p-icon="po-icon-refresh" 
        [p-primary-action]="confirm" 
        [p-secondary-action]="close" 
        #retryModal p-title="Reprocessamento de Requisição">

            <div class="po-row po-p-1">
                <span class="po-font-text-large-bold">Deseja realmente reprocessar o registro selecionado?</span>
            </div>
            
    
            <div class="po-row po-p-1">
                <po-checkbox class="po-sm-12"
                    (p-change)="checkReprocessa($event)"
                    p-label="Ativar Reprocessamento Avançado">
                </po-checkbox>
            </div>
      
            <div class="po-row po-p-1" *ngIf="acceptance">
                <po-combo #selectCombo class="po-md-12"
                    name="accompaniment"
                    [p-options]="listInstances"
                    [p-filter-mode]="typeComboFilter"
                    p-placeholder="Selecione um RPA"
                    [p-required]="true"
                    p-icon="po-icon-exam"
                    p-field-label="instance_name"
                    p-field-value="id"
                    p-help="Direcione o processamento para uma instância específica do SmartRPA"
                    p-label="SmartGISS RPA Operator:">
                </po-combo>
                </div>

</po-modal>