<po-page-dynamic-table
p-title="Consulta GISS"
[p-actions]="actions"
[p-table-custom-actions]="tableCustomActions"
[p-breadcrumb]="breadcrumb"
[p-fields]="fields"
[p-service-api]="serviceApi">

</po-page-dynamic-table>

<po-modal p-icon="po-icon-archive" p-size ="xl" #filesDetailModal p-title="Arquivos Disponíveis">
    <span class="po-font-subtitle">Disponiveis para download</span>

    <po-table [p-items]="listFiles" 
              [p-columns]="fieldsFiles" 
              [p-actions]="tableFilesCustomActions"
              [p-actions-right]="true"
              [p-filtered-columns]="['fileName', 'competence']"
              > </po-table>
</po-modal>