<div>
    <po-loading-overlay [hidden]="!(isLoading)"></po-loading-overlay>
</div>
<po-page-dynamic-table
p-title="GISS - Fechamentos"
[p-actions]="actions"
[p-table-custom-actions]="tableCustomActions"
[p-breadcrumb]="breadcrumb"
[p-fields]="fields"
[p-service-api]="serviceApi">

</po-page-dynamic-table>

<po-modal p-icon="po-icon-archive" p-size ="xl" #filesDetailModal p-title="Arquivos Disponíveis">
    <po-divider
    p-label="Download de arquivos - SmartSync Storage" >
    </po-divider>
    <span class="po-font-subtitle">{{listFiles.length}} Arquivos processados. - {{(tipoPrefeitura)}} </span><br/>
    <span class="po-font-subtitle">Status de Processamento (100).</span><br/>

    <po-table [p-items]="listFiles" 
              [p-columns]="fieldsFiles" 
              [p-actions]="tableFilesCustomActions"
              [p-actions-right]="true"
              [p-filtered-columns]="['fileName', 'competence']"
              [p-selectable]="true"
              [p-filter-type]="typeFilter"
              [p-striped]="true"
              [p-sort]="true"
              
              > </po-table>
</po-modal>