/* You can add global styles to this file, and also import other style files */
/* :root {
    --color-primary: rgb(82, 87, 218);
    --color-secondary: rgb(54, 157, 201);
    --color-tertiary: rgb(10, 164, 146);
  } */